:root {
  min-height: 100%;
}

body {
  font-family: sans-serif;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

header {
  margin-bottom: 2rem;
}

h1 {
  text-align: center;
  margin: 0 auto 1rem;
  color: #363636;
}

form {
  width: 30rem;
  margin: auto;
  background-color: #363636;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

section {
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

label {
  color: #c8c8c8;
  display: block;
  margin: 1rem 0 0.2rem;
  font-size: 0.8rem;
}

h2 {
  color: #faf9f9;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

input,
textarea,
select {
  font: inherit;
  padding: 0.5rem;
  border: 1px solid #fff;
  width: 100%;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  background-color: #fff;
}

button {
  font: inherit;
  border: 1px solid transparent;
  padding: 0.35rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

#form-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-filled {
  background-color: #ffca52;
  color: #000000;
}

.btn-empty {
  color: #eeeeee;
  font-weight: 600;
  background: transparent;
  letter-spacing: 0.5px;
  border: none;
}

.btn-filled:hover {
  background-color: #ffda87;
}

.btn-empty:hover {
  color: #fff;
}

.inline-control {
  display: flex;
}

.flex {
  display: flex;
  gap: 2rem;
}

.inline-control label {
  margin: 0;
  color: #fff;
}

.inline-control input {
  width: auto;
  margin: 0 0.4rem 0 0;
}

::-webkit-scrollbar {
  height: 9px;
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  width: 9px;
}

::-webkit-scrollbar-track {
  background: transparent;
  width: 9px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
