body {
  font-family: sans-serif;
  background-color: #eee;
}

h1 {
  text-align: center;
  margin: 2rem;
  color: #526174;
}

form {
  width: 40rem;
  margin: auto;
  background-color: #99a4b2;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

section {
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

label {
  color: #faf9f9;
  display: block;
  margin: 0.5rem 0;
}

h2 {
  color: #faf9f9;
}

input,
textarea,
select {
  font: inherit;
  padding: 0.5rem;
  border: 1px solid rgb(152, 159, 184);
  width: 100%;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  background-color: #fff;
}

button {
  font: inherit;
  border: 1px solid #374c66;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

#form-actions {
  text-align: right;
}

.btn-filled {
  background-color: #374c66;
  color: white;
}

.btn-empty {
  background-color: #d5d9df;
  color: #374c66;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.btn-filled:hover {
  background-color: #0e1a29;
  border-color: #0e1a29;
}

.btn-empty:hover {
  background-color: #eee;
}

.inline-control {
  display: flex;
}

.inline-control label {
  margin: 0;
  margin-left: 0.5rem;
}

.inline-control input {
  width: auto;
}

.logo {
  text-decoration: none;
  width: 10rem;
  display: flex;
  text-decoration: none;
  padding: 1rem;
}

.logo > img {
  height: 35px;
}

.logo-txt {
  padding-left: 7px;
  display: flex;
  flex-direction: column;
  color: #272727;
  align-items: flex-start;
}

.logo-img {
  width: 2rem;
  margin-right: 3px;
}

.logo-txt h1,
.logo-txt span {
  margin: 0;
  padding: 0;
  line-height: 1;
  letter-spacing: 4px;
}

.logo-txt h1 {
  font-weight: bolder;
  font-size: 1.1rem;
  margin-top: 2px;
  color: #272727;
}

.logo-txt span {
  font-weight: lighter;
  font-size: 0.85rem;
}
::-webkit-scrollbar {
  height: 9px;
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  width: 9px;
}

::-webkit-scrollbar-track {
  background: transparent;
  width: 9px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
